
// Converted Variables


// Custom Media Query Variables


/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.dn, %dn {              display: none; }
.di, %di {              display: inline; }
.db, %db {              display: block; }
.dib, %dib {             display: inline-block; }
.dit, %dit {             display: inline-table; }
.dt, %dt {              display: table; }
.dtc, %dtc {             display: table-cell; }
.dt-row, %dt-row {          display: table-row; }
.dt-row-group, %dt-row-group {    display: table-row-group; }
.dt-column, %dt-column {       display: table-column; }
.dt-column-group, %dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed, %dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@media #{$breakpoint-super-small} {
  .dn-ss, %dn-ss { display: none; }
  .di-ss, %di-ss { display: inline; }
  .db-ss, %db-ss { display: block; }
  .dib-ss, %dib-ss { display: inline-block; }
  .dit-ss, %dit-ss { display: inline-table; }
  .dt-ss, %dt-ss { display: table; }
  .dtc-ss, %dtc-ss { display: table-cell; }
  .dt-row-ss, %dt-row-ss { display: table-row; }
  .dt-row-group-ss, %dt-row-group-ss { display: table-row-group; }
  .dt-column-ss, %dt-column-ss { display: table-column; }
  .dt-column-group-ss, %dt-column-group-ss { display: table-column-group; }

  .dt--fixed-ss, %dt--fixed-ss {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-not-small} {
  .dn-ns, %dn-ns { display: none; }
  .di-ns, %di-ns { display: inline; }
  .db-ns, %db-ns { display: block; }
  .dib-ns, %dib-ns { display: inline-block; }
  .dit-ns, %dit-ns { display: inline-table; }
  .dt-ns, %dt-ns { display: table; }
  .dtc-ns, %dtc-ns { display: table-cell; }
  .dt-row-ns, %dt-row-ns { display: table-row; }
  .dt-row-group-ns, %dt-row-group-ns { display: table-row-group; }
  .dt-column-ns, %dt-column-ns { display: table-column; }
  .dt-column-group-ns, %dt-column-group-ns { display: table-column-group; }

  .dt--fixed-ns, %dt--fixed-ns {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-medium} {
  .dn-m, %dn-m {              display: none; }
  .di-m, %di-m {              display: inline; }
  .db-m, %db-m {              display: block; }
  .dib-m, %dib-m {             display: inline-block; }
  .dit-m, %dit-m {             display: inline-table; }
  .dt-m, %dt-m {              display: table; }
  .dtc-m, %dtc-m {             display: table-cell; }
  .dt-row-m, %dt-row-m {          display: table-row; }
  .dt-row-group-m, %dt-row-group-m {    display: table-row-group; }
  .dt-column-m, %dt-column-m {       display: table-column; }
  .dt-column-group-m, %dt-column-group-m { display: table-column-group; }

  .dt--fixed-m, %dt--fixed-m {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-large} {
  .dn-l, %dn-l { display: none; }
  .di-l, %di-l { display: inline; }
  .db-l, %db-l { display: block; }
  .dib-l, %dib-l { display: inline-block; }
  .dit-l, %dit-l { display: inline-table; }
  .dt-l, %dt-l { display: table; }
  .dtc-l, %dtc-l { display: table-cell; }
  .dt-row-l, %dt-row-l { display: table-row; }
  .dt-row-group-l, %dt-row-group-l { display: table-row-group; }
  .dt-column-l, %dt-column-l { display: table-column; }
  .dt-column-group-l, %dt-column-group-l { display: table-column-group; }

  .dt--fixed-l, %dt--fixed-l {
    table-layout: fixed;
    width: 100%;
  }
}

