
// Converted Variables


// Custom Media Query Variables


/*

   FONT STYLE
   Docs: http://tachyons.io/docs/typography/font-style/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.i, %i { font-style: italic; }
.fs-normal, %fs-normal { font-style: normal; }

@media #{$breakpoint-not-small} {
  .i-ns, %i-ns { font-style: italic; }
  .fs-normal-ns, %fs-normal-ns { font-style: normal; }
}

@media #{$breakpoint-medium} {
  .i-m, %i-m { font-style: italic; }
  .fs-normal-m, %fs-normal-m { font-style: normal; }
}

@media #{$breakpoint-large} {
  .i-l, %i-l { font-style: italic; }
  .fs-normal-l, %fs-normal-l { font-style: normal; }
}
