
// Converted Variables


// Custom Media Query Variables


/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.static, %static { position: static; }
.relative, %relative { position: relative; }
.absolute, %absolute { position: absolute; }
.fixed, %fixed { position: fixed; }

@media #{$breakpoint-not-small} {
  .static-ns, %static-ns { position: static; }
  .relative-ns, %relative-ns  { position: relative; }
  .absolute-ns, %absolute-ns  { position: absolute; }
  .fixed-ns, %fixed-ns  { position: fixed; }
}

@media #{$breakpoint-medium} {
  .static-m, %static-m { position: static; }
  .relative-m, %relative-m  { position: relative; }
  .absolute-m, %absolute-m  { position: absolute; }
  .fixed-m, %fixed-m  { position: fixed; }
}

@media #{$breakpoint-large} {
  .static-l, %static-ls { position: static; }
  .relative-l, %relative-ls  { position: relative; }
  .absolute-l, %absolute-ls  { position: absolute; }
  .fixed-l, %fixed-ls  { position: fixed; }
}
