
// Converted Variables


// Custom Media Query Variables


/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center
    j = justify

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large

*/

.tl, %tl  { text-align: left; }
.tr, %tr  { text-align: right; }
.tc, %tc  { text-align: center; }
.tj, %tj  { text-align: justify; }

@media #{$breakpoint-super-small} {
  .tl-ss, %tl-ss  { text-align: left; }
  .tr-ss, %tr-ss  { text-align: right; }
  .tc-ss, %tc-ss  { text-align: center; }
  .tj-ss, %tj-ss  { text-align: justify; }
}

@media #{$breakpoint-not-small} {
  .tl-ns, %tl-ns  { text-align: left; }
  .tr-ns, %tr-ns  { text-align: right; }
  .tc-ns, %tc-ns  { text-align: center; }
  .tj-ns, %tj-ns  { text-align: justify; }
}

@media #{$breakpoint-medium} {
  .tl-m, %tl-m  { text-align: left; }
  .tr-m, %tr-m  { text-align: right; }
  .tc-m, %tc-m  { text-align: center; }
  .tj-m, %tj-m  { text-align: justify; }
}

@media #{$breakpoint-large} {
  .tl-l, %tl-l  { text-align: left; }
  .tr-l, %tr-l  { text-align: right; }
  .tc-l, %tc-l  { text-align: center; }
  .tj-l, %tj-l  { text-align: justify; }
}
