
// Converted Variables


// Custom Media Query Variables


/*

   WHITE SPACE

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


.ws-normal, %ws-normal { white-space: normal; }
.nowrap, %nowrap { white-space: nowrap; }
.pre, %pre { white-space: pre; }

@media #{$breakpoint-not-small} {
  .ws-normal-ns, %ws-normal-ns { white-space: normal; }
  .nowrap-ns, %nowrap-ns { white-space: nowrap; }
  .pre-ns, %pre-ns { white-space: pre; }
}

@media #{$breakpoint-medium} {
  .ws-normal-m, %ws-normal-m { white-space: normal; }
  .nowrap-m, %nowrap-m { white-space: nowrap; }
  .pre-m, %pre-m { white-space: pre; }
}

@media #{$breakpoint-large} {
  .ws-normal-l, %ws-normal-l { white-space: normal; }
  .nowrap-l, %nowrap-l { white-space: nowrap; }
  .pre-l, %pre-l { white-space: pre; }
}

